@import 'animations'

body
	padding 80px
	font 14px "Lucida Grande", Helvetica, Arial, sans-serif
a
	color #00B7FF

form
	input
		&#buttom
			background #59a5d1
			border-radius 3px
			border 1px solid #408bb6
			color #fff
			cursor pointer
			height 22px
			margin-left 130px
			padding-top 2px
			text-align middle
			transform rotate(2deg)
			width 100px
	
		&.rounded
			border-radius 4px
			border 1px solid #86c9ef
			box-shadow 2px 2px 3px #666
			color #445135
			font 14px arial,sans-serif
			height 18px
			margin-bottom 10px
			outline 0
			padding 10px
			width 212px

			&:focus
				border-color #339933

		&.rounded_error
			border-color #ff0000
			transform rotate(-2deg)

#alert
	background rgba(250, 128, 114, 0.2)
	border 1px dotted #b22222
	display none
	margin-bottom 5px

	img
		margin-right 5px

#board
#users
	user-select none

#nodester
	animation nodester 4s infinite alternate ease-in-out
	height 80px
	left 20px
	position absolute
	top @left
	width @height

#users
	color #cdc9c9
	position absolute
	right 20px
	top @right

#rotate
	background url('/img/nodester.png') no-repeat
	height 100%
	width 100%

	&:hover
		animation rotate 3s infinite alternate ease-in-out

.box_login
	border-radius 6px
	border 1px dotted #cdc9c9
	display block
	margin 0 auto
	padding 10px
	width 240px

	#loading
		background url('/img/ajax-loader.gif') no-repeat
		display none
		height 50px
		position absolute
		width @height

.letter
	cursor pointer
	height 20px
	position absolute
	width @height
	
.user
	margin-bottom 5px